* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input {
  border: none !important;
  outline: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

nav {
  background-color: #000;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-wrapper img {
  width: 180px;
  height: 180px;
}
.nav-wrapper .nav-links h1 {
  font-size: 28px;
  font-weight: 700;
}
.nav-wrapper .nav-links .call-link {
  color: #fff200;
  font-size: 16px;
  opacity: 65%;
  transition: all 0.2s ease;
}
.nav-wrapper .nav-links .call-link:hover {
  text-decoration: underline;
  font-weight: 500;
  font-size: 18px;
  opacity: 1;
}

.subnav-wrapper {
  border-top: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  padding: 18px 45px;
}
.subnav-wrapper a {
  font-size: 20px;
  font-weight: 600;
  transition: all 0.2s ease;
  opacity: 50%;
}
.subnav-wrapper a:hover {
  color: #fff200;
  font-size: 22px;
  opacity: 1;
}

.hero {
  display: flex;
  flex-direction: column;
  height: 800px;
  align-items: center;
  justify-content: center;
  position: relative;
}
.hero .hero-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.hero .hero-title h1 {
  font-size: 80px;
  font-weight: 900;
  text-align: center;
}
.hero .hero-title h1 span {
  color: #fff200;
  white-space: nowrap;
}
.hero .hero-btns {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 60px;
}
.hero .hero-btns button {
  font-size: 16px;
  border-radius: 30px;
  background-color: #fff200;
  width: 200px;
  height: 50px;
  color: #000;
  transition: all 0.3s ease;
  text-align: center;
}
.hero .hero-btns button:hover {
  background-color: #edc001;
  transform: scale(1.05);
  font-size: 18px;
}
.hero .video-container {
  z-index: -1;
  padding: 0;
}
.hero .video-container video {
  width: 100%;
  height: 100vh;
}
.hero .video-container .overlay {
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.catalog-cards {
  margin-top: 100px;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}
.catalog-cards .catalog-card {
  margin: 0 auto;
  padding: 40px;
  align-items: center;
  justify-content: center;
  background-color: #fff200;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.catalog-cards .catalog-card:hover {
  background-color: #edc001;
  border: 1px solid #fff;
}
.catalog-cards .catalog-card img {
  width: 120px;
  height: 110px;
}

h3 {
  margin-top: 150px;
  font-size: 30px;
  text-align: center;
  opacity: 80%;
}

.about-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-wrapper img {
  width: 550px;
  height: 550px;
}
.about-wrapper .about-text {
  max-width: 500px;
  text-align: right;
}
.about-wrapper .about-text h1 {
  font-size: 64px;
}
.about-wrapper .about-text p {
  font-size: 24px;
  opacity: 80%;
}
.about-wrapper .about-text span {
  color: #fff200;
}

.contact {
  padding: 200px 0;
  margin-top: 250px;
  align-items: center;
  background-image: url(/images/contact-bg.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.contact .contact-texts {
  display: flex;
  flex-direction: column;
  gap: 35px;
  text-align: left;
}
.contact .contact-texts .contact-title {
  margin-bottom: 25px;
  font-size: 60px;
  font-weight: 700;
}
.contact .contact-texts .contact-call {
  font-size: 32px;
  font-weight: 500;
  transition: all 0.2s ease;
}
.contact .contact-texts .contact-call:hover {
  color: #edc001;
  font-size: 35px;
}
.contact .contact-texts .contact-call-number {
  font-size: 21px;
  font-weight: 200;
  transition: all 0.2s ease;
}
.contact .contact-texts .contact-call-number:hover {
  color: #edc001;
  font-size: 23px;
  text-decoration: underline;
}
.contact .contact-texts .adress {
  font-size: 16px;
}
.contact .contact-texts .adress span {
  font-size: 21px;
  font-weight: 600;
}

body {
  background-color: #000;
  color: #fff;
}

.container {
  padding: 0 70px;
  max-width: 1470px;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */