.hero {
  display: flex;
  flex-direction: column;
  height: 800px;
  align-items: center;
  justify-content: center;
  position: relative;

  .hero-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  .hero-title {
    h1 {
      font-size: 80px;
      font-weight: 900;
      text-align: center;
      span {
        color: $primary-color;
        white-space: nowrap;
      }
    }
  }

  .hero-btns {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 60px;
    button {
      font-size: 16px;
      border-radius: 30px;
      color: #000;
      background-color: $primary-color;
      width: 200px;
      height: 50px;
      transition: all 0.3s ease;
      text-align: center;

      &:hover {
        background-color: $hover-color;
        transform: scale(1.05);
        font-size: 18px;
      }
    }
  }

  .video-container {
    .hero-video_ipad,
    .hero-video_ipadmini,
    .hero-video_iphone {
      display: none;
    }
    z-index: -1;
    padding: 0;
    video {
      width: 100%;
      height: 100%;
    }

    .overlay {
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      width: 100%;
      height: 100vh;
      z-index: 1;
    }
  }
}

@media (max-width: 1000px) {
  .hero-video_desktop {
    display: none !important;
  }

  .hero-video_ipad {
    display: block !important;
  }

  .hero-title {
    h1 {
      font-size: 65px !important;
    }
  }
}

@media (max-width: 800px) {
  .hero-video_ipad {
    display: none !important;
  }

  .hero-video_ipadmini {
    display: block !important;
  }
}

@media (max-width: 500px) {
  .hero-video_ipadmini {
    display: none !important;
  }

  .hero-video_iphone {
    display: block !important;
  }

  .hero-title {
    h1 {
      font-size: 45px !important;
    }
  }

  .hero-btns {
    gap: 40px !important;

    button {
      width: 150px !important;
      height: 45px !important;
    }
  }
}
