nav {
  background-color: #000;
  z-index: 3;
}
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    width: 170px;
    height: 170px;
  }

  .nav-links {
    h1 {
      font-size: 28px;
      font-weight: 700;
    }

    .call-link {
      color: $primary-color;
      font-size: 16px;
      opacity: 65%;
      transition: all 0.2s ease;

      &:hover {
        text-decoration: underline;
        font-weight: 500;
        font-size: 18px;
        opacity: 1;
      }
    }
  }
}

.subnav-wrapper {
  border-top: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  padding: 15px 45px;

  a {
    font-size: 20px;
    font-weight: 600;
    transition: all 0.2s ease;
    opacity: 50%;

    &:hover {
      color: $primary-color;
      font-size: 22px;
      opacity: 1;
    }
  }
}

@media (max-width: 800px) {
  .subnav-wrapper {
    padding: 8px 20px;
    gap: 20px;

    a {
      font-size: 18px;

      &:hover {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 540px) {
  .nav-wrapper {
    img {
      width: 100px;
      height: 100px;
    }

    .nav-links {
      h1 {
        font-size: 24px;
      }
    }
  }

  .subnav-wrapper {
    a {
      font-size: 14px;

      &:hover {
        gap: 10px;
        font-size: 16px;
      }
    }
  }
}
