@import "./variables";
@import "./reset";
@import "./navbar";
@import "./hero";
@import "./catalog";
@import "./about";
@import "./contact";

body {
  background-color: #000;

  color: #fff;
}

.container {
  padding: 0 70px;
  max-width: 1470px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .container {
    padding: 0 35px;
  }
}
