@mixin carTitle {
  font-size: 44px;
  line-height: 52px;
  font-weight: 700;
  span {
    color: $primary-color;
  }
}

@mixin carText() {
  font-size: 23px;
  line-height: 32px;
  font-weight: 400;
  span {
    color: $primary-color;
  }

  margin-top: 15px;
}

@import "../_reset";
@import "..//variables";
@import "./car-nav";
@import "./car-hero";

body {
  background-color: #000;

  color: #fff;
}

.container {
  padding: 0 70px;
  max-width: 1470px;
  margin: 0 auto;
}
